.profile-user-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.img-circle {
    border-radius: 50%;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
}

.limit4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /*white-space: nowrap;*/
    -webkit-box-orient: vertical;
    /*text-overflow: ellipsis;*/
    max-height: 300px;
}

.wrapper4 {
    /*padding: 20px;*/
    /*background: #eaeaea;*/
    max-height: 180px;
    margin: 50px auto;
    overflow: hidden;
}

.demo-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.demo-2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.limit3 > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
