$ih: 100vh; // Slider height


.slider {
  position: relative;
}

#slider {
  position: relative;
  overflow: hidden;
  width: 100% !important;

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: $ih;
    width: 99999px;
    overflow: hidden;
    list-style: none;

    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: $ih;
      text-align: center;

      .slide {
        background-size: cover;
        height: $ih;

        .slider_overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, .6);
        }
      }
    }
  }
}


button.control_prev, button.control_next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  border: none;
  width: 2em;
  height: 2em;
  line-height: 1.9em;
  background: rgba(#fff, .30);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);

  &:focus {
    outline: none;
    border: 1px rgba(255, 255, 255, .5) solid;
  }

  &:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
}

button.control_prev {
  left: .7rem;
}

button.control_next {
  right: .7rem;
}

.progress {
  position: absolute;
  background: rgba(255, 255, 255, .3);
  height: .2rem;
  width: 100%;
  bottom: 0;
  border-top: 1px rgba(0, 0, 0, .15) solid;

  .bar {
    height: 100%;
    width: 0%;
    background: #fff;

  }
}


.teaser {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  transform: translateY(-50%);

  h2 {
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;

  }


  p {
    font-size: 1.3em;
    line-height: 1.3em;
    border-top: 2px #fff solid;
    width: 33%;
    min-width: 25rem;
    margin: 0rem auto;
    padding: 1.5rem 0;
  }

  h3 {
    border-bottom: 2px #fff solid;
    width: 33%;
    padding: 1.5rem 0;
    margin: 0rem auto;
    min-width: 25rem;
  }

  a {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}


